.idea
.vscode

*.iml
*.iws
*.ipr
*.class
*.jar
*.war
*.ear
*.log

.DS_Store
Thumbs.db

*.swp
*.swo
*~
.project
.classpath
.settings

data/

node_modules/
.next/
.nuxt/
dist/
build/
out/

target/
*.jar

.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

*.pid
*.seed
*.pid.lock

coverage/
.nyc_output/
*.lcov

.eslintcache
.cache/
